In [1]:
import pandas as pd
import numpy as np

In [2]:
all_features=pd.read_csv("test_all_features_noPCA.csv")
all_features.head()

,product_id,product_category,brand,price,quantity,favorite,negative_info,coner_numbers,face_numbers,face_x,...,503,504,505,506,507,508,509,510,511,512
0,8304,3,4,77.6160,1,0,0,2515.0,0.0,0.0,...,-0.543722,-0.765462,-0.679552,1.663159,0.574418,0.359700,-0.445884,0.340315,-0.706384,-0.118440
1,8433,2,2,1150.5640,1,1128,0,24562.0,0.0,0.0,...,2.081845,-0.353054,-0.579630,0.592419,-0.576733,0.879988,-0.733702,2.297908,2.227531,-0.578162
2,9009,2,2,1372.4440,1,1081,0,10672.0,0.0,0.0,...,1.350494,-0.765462,-0.298230,-0.746695,-0.635949,-0.540052,-0.356770,1.967704,-0.706384,2.291177
3,9030,2,2,4849.0250,1,981,0,24149.0,0.0,0.0,...,1.153007,0.917282,0.307953,-0.746695,0.178981,1.236456,0.168556,-0.567529,-0.706384,0.167084
4,9583,1,3,53.5182,1,1,0,33272.0,0.0,0.0,...,0.438044,-0.765462,-0.679552,-0.746695,-0.635949,-0.007310,-0.699182,-0.636476,1.409035,-0.578162

In [3]:
# 用K近邻算法填补缺失值
from sklearn.impute import KNNImputer
clf=KNNImputer()
all_features_withoutnan=clf.fit_transform(all_features)
all_features_withoutnan.shape

(2000, 536)

In [4]:
# 
if all_features_withoutnan.shape==all_features.shape:
    print("最初all_features的缺失值个数：",np.sum(np.sum(all_features.isna())))
    all_features=pd.DataFrame(all_features_withoutnan,columns=all_features.columns)
    print("已经把填补过的值放进去")
    print("现在all_features的缺失值个数：",np.sum(np.sum(all_features.isna())))
else:
    raise BaseException("出事了！")

最初all_features的缺失值个数： 0
已经把填补过的值放进去
现在all_features的缺失值个数： 0

In [5]:
# 首先对数据进行归一化
from sklearn import preprocessing
all_features.iloc[:,4:]=preprocessing.normalize(all_features.iloc[:,4:])
all_features.head()

,product_id,product_category,brand,price,quantity,favorite,negative_info,coner_numbers,face_numbers,face_x,...,503,504,505,506,507,508,509,510,511,512
0,8304.0,3.0,4.0,77.6160,0.000396,0.000000,0.0,0.997034,0.0,0.0,...,-0.000216,-0.000303,-0.000269,0.000659,0.000228,1.425976e-04,-0.000177,0.000135,-0.000280,-0.000047
1,8433.0,2.0,2.0,1150.5640,0.000041,0.045848,0.0,0.998342,0.0,0.0,...,0.000085,-0.000014,-0.000024,0.000024,-0.000023,3.576782e-05,-0.000030,0.000093,0.000091,-0.000023
2,9009.0,2.0,2.0,1372.4440,0.000093,0.100667,0.0,0.993817,0.0,0.0,...,0.000126,-0.000071,-0.000028,-0.000070,-0.000059,-5.029170e-05,-0.000033,0.000183,-0.000066,0.000213
3,9030.0,2.0,2.0,4849.0250,0.000041,0.040569,0.0,0.998663,0.0,0.0,...,0.000048,0.000038,0.000013,-0.000031,0.000007,5.113268e-05,0.000007,-0.000023,-0.000029,0.000007
4,9583.0,1.0,3.0,53.5182,0.000030,0.000030,0.0,0.999734,0.0,0.0,...,0.000013,-0.000023,-0.000020,-0.000022,-0.000019,-2.196361e-07,-0.000021,-0.000019,0.000042,-0.000017

In [6]:
all_features.to_csv("test_all_features_noPCA-2.csv")